@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, $color-neutral-min, 50%),
  $border-radius: 0
) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: $border-radius;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

body {
  @include scrollbars(8px, $secondary-color, $neutral-max, 8px);
}
