// Colors
$primary-color: #1e2764;
$secondary-color: #f8c30f;
$secondary-color-lg: #f8f4eb;

$neutral-max: #fff;
$neutral-min: #000;

// Fonts
$primary-font: "Neue Haas Display", sans-serif;
$secondary-font: "Inter", sans-serif;

// Folders Path
$base-path: "../assets";
$image-path: "#{$base-path}/images";
$bg-path: "#{$base-path}/backgrounds";
$font-path: "#{$base-path}/fonts";
